<img
    src="static/images/anime/bunta.gif"
    alt="no hand drift, initial d"
    class="center"
/>
<h1>My Anime/Manga Rankings</h1>
<table class="anime-table">
    <thead>
        <tr>
            <th width="70px">Ranking</th>
            <th width="100px">Image</th>
            <th width="200px">Title</th>
            <th width="140px">Rank</th>
            <th width="270px">Comments</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr align="center">
            <td>{{ .Rank }}</td>
            <td>
                <img
                    src="{{ .ImageURL }}"
                    alt="{{ .Title }}"
                    style="width: 50px"
                />
            </td>
            <td>{{ .Title }}</td>
            <td>{{ .Tier }}</td>
            <td>{{ .Comments }}</td>
            {{ end }}
        </tr>
    </tbody>
</table>
