<h1>About:</h1>
<hr />
<h2>About me:</h2>
<figure class="figure-right">
    <img
        src="static/images/sm64penguin-min.png "
        alt="super mario 64 penguin drop"
        class="right-image"
        style="width: 140px; margin: 0 10px"
    />
    <figcaption>criminal activity</figcaption>
</figure>

<ul>
    <li>Name: Lampis Anastasiou</li>
    <li>Age: 22 Years Old (30/05/2003)</li>
    <li>Nationality: Greek</li>
    <li>Pronouns: He/Him</li>
    <li>Favourite Animal: Penguins, despite what my pfp implies</li>
    <li>
        Things I like: Linux, Computers, Table Tennis, Anime/Manga, Riichi
        Mahjong, Magic: The Gathering, videogames, mainly Super Smash Bros.
        Melee
    </li>
    <li>Cats or Dogs?: cats</li>
</ul>
<h2>About website:</h2>
<p>
    I made this website because I believe that everybody should have their own
    personal corner on the internet. The early internet was full of personal
    webpages that were so fun and full of unfiltered creativity, which is
    something that has mostly faded in modern time in favor of centralized
    social media profiles. In recent time, there has been somewhat of a revival
    of personal webpages and I was inspired by countless other websites to do
    the same.
</p>
<p>
    I started developing this website on August 2024 for a bit, and picked it
    back up on June 2025. It's official birthday is on August 3rd 2025 when it
    first went live.
</p>
<p>
    Javascript is used for the cursor trail and analytics using
    <a href="https://umami.is/" target="_blank">Umami</a>, you can safely
    disable it. I only store cookies for theme preference. This website is open
    source, you can view the source code on my
    <a href="https://github.com/Lamampis/lamamp.is" target="_blank">github</a>.
</p>
<p>Made with <3</p>
<h2>Contact Me:</h2>
<p>Email: <a href="mailto:lampis750@tutanota.com">lampis750@tutanota.com</a></p>
<p>Discord: lamampis</p>
<p>
    You can also find me on
    <a href="https://github.com/Lamampis" target="_blank">Github</a> and
    <a
        href="https://www.youtube.com/channel/UC2Zei0iGLIGBG66pAXGHTHw"
        target="_blank"
        >Youtube</a
    >.
</p>
