<h1>About:</h1>
<h2>About me:</h2>
<ul>
    <li>Name: Lampis Anastasiou</li>
    <li>Age: 22 Years Old (30/05/2003)</li>
    <li>Nationality: Greek</li>
    <li>Pronouns: He/Him</li>
    <li>Favourite Animal: Penguins, despite what my pfp implies</li>
    <li>
        Things I like: Linux, Computers, Table Tennis, SSBM, Anime, Riichi
        Mahjong, Magic: The Gathering, Various Board Games.
    </li>
</ul>
<h2>What I'm doing now:</h2>
<p>I live in Larissa, Greece.</p>
<p>
    I'm learning Go (the language, not the game) as I'm developing this website.
</p>
<p>
    I study computer science and just finished my 4th year. I still have a few
    courses I need to finish before I graduate.
</p>
<h2>About website:</h2>
<p>
    Website built with Go. You can safely disable Javascript. I only store
    cookies for theme preference. You can view my website's source code on my
    <a href="https://github.com/Lamampis/lamamp.is" target="_blank">github</a>.
</p>

<h2>My links</h2>
<p>
    <a href="https://github.com/Lamampis" target="_blank">Github</a>
    <a
        href="https://www.youtube.com/channel/UC2Zei0iGLIGBG66pAXGHTHw"
        target="_blank"
        >Youtube</a
    >
</p>
<h2>Contact Me:</h2>
<p>Email: <a href="mailto:lampis750@tutanota.com">lampis750@tutanota.com</a></p>
<p>Discord: lamampis</p>
