<h1>This is my Thinkpad X230, it runs Gentoo Linux</h1>
<img src="static/images/cyber/x230.webp" style="max-width: 400px;" alt="my x230 thinkpad"/>
<small>
    This divine combo allows me to use my computer in ways that normal
    people couldn't even dream of.
</small>
<br>
<hr>
<h2>Why do I use an old Thinkpad?</h2>
<p>Because Luke Smith told me so!</p>
<p>That's the short answer, but there are multiple reasons why:</p>
<ul>
 <li>They are very durable, repairable and modular machines.</li>
 <li>Thinkpad keyboards are a joy to type on.</li>
 <li>TRACKPOINT! I can't go back to a touchpad after getting used to it.</li>
 <li>Beautiful timeless design.</li>
 <li>It may be a dual core laptop from 2012, but it is still very capable of everyday tasks (browsing, coding, even light gaming).</li>
 <li>It makes me look cool on the internets.</li>
</ul>
<br>
<hr>
<h2>List of Mods (chronological)</h2>
<p>
    One of the reasons I like my X230 Thinkpad is
    how much you can modify it. Below are all the modifications I’ve done in
    chronological order.
</p>
<ol>
    <li>
        When I bought it used, it already had <strong>8GB RAM</strong> and a
        <strong>256GB SATA3 SSD</strong>.
    </li>
    <li>
        I replaced the terrible TN panel with a much brighter and nicer <strong>IPS panel.</strong>
        I used a panel with product number LP125WH2(SL)(B3).
    </li>
    <li>
        I replaced the 6 cell battery with a <strong>9 cell battery</strong> I bought from
        <a href="https://www.duracelldirect.com/" target="_blank" rel="noopener"
            >Duracell Direct</a
        >. Pricy but gives me 5+ hours of battery life.
    </li>
    <li>
        I replaced the standard charging module with <strong>USB-C charging</strong> from
        <a
            href="https://www.tindie.com/products/mikepdiy/lenovo-charging-port-type-c-pd-x220-x230/"
            target="_blank"
            rel="noopener"
            >this Tindie listing</a
        >. I can easily charge my laptop with any 65W USB-C phone charger.
    </li>
    <li>
        My model was an X220 before — <strong>I swapped its motherboard with one from an
        X230.</strong> Instructions I followed are here:
        <a
            href="http://panacek.net/post/frankenpad_x225/"
            target="_blank"
            rel="noopener"
            >FrankenPad / X225 guide</a
        >.
    </li>
    <li>
        After I "upgraded" to an X230, I followed
        <a
            href="https://www.thinkwiki.org/wiki/Install_Classic_Keyboard_on_xx30_Series_ThinkPads"
            target="_blank"
            rel="noopener"
            >these steps</a
        >
        to support my old X220 keyboard.
    </li>
    <li>
        I 3D-printed an Express Card dummy card to fit in the Express Card slot
        — reduces chassis flex in that area a little.
    </li>
    <li>
        I found a genuine <strong>NMB US X220 keyboard</strong> on eBay in good condition for a
        great price — essentially the best keyboard ever made for that model.
    </li>
    <li>
        I replaced the Bluetooth 3.0 chip with a <strong>Bluetooth 4.0</strong> chip I bought on
        AliExpress.
    </li>
    <li>
        I changed the default TrackPoint with a
        <strong>Soft Rim TrackPoint</strong> I bought on eBay. Much nicer to use than the original.
    </li>
</ol>
<br>
<hr>
<h2>Software that I use</h2>
<p>
    I really enjoy testing and using different utilities and programs on my
    computer and these are what I currently use. I definitely recommend
    everything listed here.
</p>
Many of my configuration files for these can be found on my <a href="https://github.com/Lamampis/dotfiles" target="_blank">github</a>.</p>
<figure>
    <img
        src="static/images/cyber/desktop.png"
        alt="my hyprland linux desktop"
        class="right-image"
        style="max-width: 480px; margin-top: 12px; margin-left: 20px; margin-bottom: 12px;"
    />
</figure>
<ul>
    <li>Hyprland</li>
    <li>waybar</li>
    <li>tofi</li>
    <li>foot terminal</li>
    <li>zsh + starship</li>
    <li>neovim + nvchad</li>
    <li>waypaper + swww</li>
    <li>zed</li>
    <li>zen browser</li>
    <li>Obsidian</li>
    <li>dunst</li>
    <li>imv</li>
    <li>nemo</li>
    <li>doas</li>
</ul>
<br>
<hr>
<h2>Why do I use Gentoo Linux then?</h2>

<strong>TL;DR: Amazing package manager, great documentation, customizable, liberating to use.</strong>
<figure class="figure-right">
<img
    src="static/images/cyber/larry.png"
    alt="larry the cow"
    class="right-image larry"
    style="max-width: 180px; margin-top: 12px;"
/>
<figcaption>Larry the cow, Gentoo's mascot</figcaption>
</figure>
<p><a href="https://www.gentoo.org/" target="_blank">Gentoo</a> is truly customizable and liberating to use. No other distro gives me the freedom to experiment
with it as easily and elegantly as Gentoo. The package manager, Portage, is incredible. I've spent so much time just
messing around with USE flags and compiler flags, compiling custom kernels, testing software, and I've enjoyed all of it.
The wiki is incredibly well written, easy to navigate and full of information. It is always a pleasure to read
the documentation.</p>

<p>Of course, the downside to all this is that you have to wait a lot to compile each and every package,
although it has gotten better with the recent Gentoo Binary Host. I usually have to let software updates run
overnight. Especially with my laptop's old dual core processor, it can be extra long sometimes.</p>

<p>I have gotten used to it and it doesn't bother me. It's almost like a ritual I like to perform before going to bed,
and waking up to see if it has finished. You can argue that the upside is that you are always very consious of what
packages are in your system because more packages = longer compilation times, so you are encouraged to keep your install clean and tidy.</p>

<p>Gentoo is not for everyone obviously, but it is for me. I enjoy using Gentoo and I don't see myself switching to anything
else anytime soon. Give it a try, you might discover a new pastime.</p>
<br>
<div class="video-player">
  <iframe
    src="https://www.youtube.com/embed/nm9Vn0jPbWI?si=kxE3yPK4GOwXoQoy"
    title="Gentoo Installation"
    style="position: absolute; top:0; left:0; width:100%; height:100%; border:0;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
<figcaption>The magical powers Gentoo gives you</figcaption>
