<h2>Dark Coins Riddle</h2>
<p>
    You are a treasure hunter and as you're exploring a dungeon, you find a room with hundreds of coins,
    all of which are silver on one side and golden on the other. However, before you can take any of it home
    a genie appears. It congratulates you on finding it's treasure and tells you can have all of it, only if
    you can complete a challenge. The challenge is simple. You have to split the coins into two seperate piles,
    each one containing the same amount of coins sitting silver side up. The amount of coins on each pile does not matter,
    as long as there are the same amount of silver coins on one pile as the other. Sounds simple, but that's when the lights
    go off, making you unable to distinguish each coin's current side. Fortunately, before the lights went out you were able to count
    that out of all the coins, 20 of them in total are face up with their silver side. How do you complete the genie's challenge?
</p>
<img src="static/images/riddles/darkcoins.jpg" class="invert-image" />
<ul>
    <li>There are hundreds of coins.</li>
    <li>Every coin has a silver side and a golden side.</li>
    <li>You know that in total 20 of them are currently silver side up.</li>
    <li>Lights go out so you can't distinguish which ones are silver/gold side up.</li>
    <li>You have to seperate the coins into two different piles, each pile containing the same amount of coins facing silver side up,
        total coins on each pile does not matter.</li>
</ul>
<details>
    <summary class="collapsible">Answer:</summary>
    <div class="guestbook-form">
        <p>Take 20 Coins at random and flip them. These 20 coins will be your one pile and the rest will be your other pile.
            This works no matter how many silver sided coins are in the 20 coins you will flip, because by flipping 20 coins,
            you are flipping </p>
</details>
<br />
