<div class="centered_text">
    <h1>The Garden</h1>
    <p>
        All my blogposts are here. You can subscribe via RSS to get notified
        whenever I post.
    </p>
    <div class="button-wall">
        <a href="/rss.xml" target="_blank" title="Subscribe via RSS">
            <img
                src="/static/images/blinkies/rss-button.gif"
                alt="RSS Feed"
                width="88"
                height="31"
            />
        </a>
    </div>
    <hr />
    <div class="garden-grid">
        {{ range .Pages }}
        <article class="blog-card">
            <a href="/garden/{{ .Slug }}" class="card-link">
                <div class="card-image-wrapper">
                    <img src="{{ .Image }}" alt="{{ .Title }}" />
                </div>

                <div class="card-content">
                    <h2 class="card-title">[{{ .Title }}]</h2>
                    <small class="card-meta">
                        Created: {{ .Created.Format "Jan 02 2006" }} | Updated:
                        {{ .ModTime.Format "Jan 02 2006" }}
                    </small>
                </div>
            </a>
        </article>
        {{ end }}
    </div>
</div>
