:root {
    --primary: #000000;
    --secondary: #ffffff;
    --hover: #2563eb;
    --gray: #708090;
    --font-family-main: "Iosevka", Arial, Verdana, monospace;
    --font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.invert-image {
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    max-width: 360px;
    width: 100%;
    height: auto; /* pixel crispness */
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* fallback */ /* combine all filters */
    filter: invert(0%) grayscale(100%) contrast(120%);
}

@font-face {
    font-family: "Iosevka";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Iosevka-Regular.woff2") format("woff2");
}

html,
body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-family-main);
    font-size: var(--font-size);
    font-weight: normal;
    max-width: 900px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
}

main {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 6% 10%;
    border: 1px solid var(--secondary);
    border-top: none;
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.3;
}

img {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--secondary);
    max-width: 460px;
    width: 100%;
    height: auto;
}

nav {
    background: var(--secondary);
    color: var(--primary);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* even spacing */
}

nav a {
    color: var(--primary);
    text-decoration: none;
}

nav a:hover {
    color: var(--gray);
    text-decoration: none;
}

a {
    color: var(--secondary);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--hover);
    text-decoration: underline;
}

header,
footer {
    color: var(--secondary);
    text-align: center;
}

header a.no_underline:hover {
    color: var(--secondary);
    text-decoration: none;
}

header a.no_underline {
    display: inline-block;
}

ul {
    margin-bottom: 1.2em;
}

ul li:not(:last-child) {
    margin-bottom: 2px;
}

ol li:not(:last-child) {
    margin-bottom: 2px;
}
li {
    margin-bottom: 4px;
}

h1 {
    color: var(--secondary);

    text-align: center;
}

h2 {
    color: var(--secondary);
}

hr {
    color: var(--gray);
}

table,
th,
td {
    border: 1px solid var(--gray);
    border-collapse: collapse;
    background-color: var(--primary);
    color: var(--secondary);
}

figcaption {
    font-size: 0.9em;
    color: var(--gray);
    margin-top: 5px;
    font-style: italic;
    word-wrap: break-word;
}

figure {
    margin: 0 0 10px 0;
    text-align: center;
}

.figure-right {
    float: right;
    margin: 0 0 10px 10px;
    max-width: 180px;
}

.figure-left {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 180px;
}

.theme-toggle .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    cursor: pointer;
}

.icon-container .light-icon {
    display: none;
}

.theme-toggle input {
    display: none;
}

.theme-toggle .light-icon {
    display: none;
}

.theme-toggle .dark-icon {
    display: block;
}

.theme-toggle input:checked + .icon-container .light-icon {
    display: block;
}

.theme-toggle input:checked + .icon-container .dark-icon {
    display: none;
}

.theme-toggle span:hover::before,
.theme-toggle input:checked + span:hover::before {
    color: var(--gray);
}

.no_underline {
    text-decoration: none;
}

.no_underline a {
    text-decoration: none;
}

.centered_text {
    text-align: center;
}

.box,
.guestbook-form,
.guestbook-entry {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
    margin-top: -1px; /* Prevent border overlap */
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family-main);
    font-size: var(--font-size);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--secondary);
    outline: none;
}

.guestbook-form label {
    display: block;
    margin-bottom: 4px;
    outline: none;
}

.guestbook-form input[type="text"],
.guestbook-form textarea {
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--gray);
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
    font-family: var(--font-family-main);
    font-size: var(--font-size);
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}

.guestbook-form input::placeholder {
    color: var(--gray);
}

.guestbook-form button {
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 6px;
    cursor: pointer;
    font-family: var(--font-family-main);
    font-size: var(--font-size);
}

.guestbook-form button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.guestbook-entry {
    margin-bottom: 10px;
}

.collapsible {
    background-color: var(--primary);
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    width: 150px;
    color: var(--secondary);
    cursor: pointer;
    padding: 10px;
    text-align: center;
    list-style: none;
    outline: none;
}

details[open] .collapsible,
.collapsible:hover {
    background-color: var(--secondary);
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    width: 150px;
    color: var(--primary);
    cursor: pointer;
    padding: 10px;
    text-align: center;
    list-style: none;
    outline: none;
}

details[closed] {
    border: 1px solid var(--secondary);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: 0px;
    align-items: center;
    gap: 0.5rem; /* even spacing */
}

.left {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.right {
    display: flex;
    align-items: flex-end;
    gap: 14px;
}

.right-image {
    float: right;
}

.left-image {
    float: left;
}

.larry {
    border-width: 0px;
}

.video-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 1px solid var(--secondary);
}
